/* base
============================= */
/* googleFonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:wght@300;400;700;900&family=Viga&display=swap");
/* variables */
/* color */
.c-headerBtn {
  display: inline-block;
  width: 126px;
  padding: 14px;
  text-align: center;
  color: #fff;
}

.c-headerBtn--basic {
  background-color: #222;
}

.c-headerBtn--primary {
  background-color: #AFA86F;
}

.c-headerBtn:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.c-btnChevron {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 30px 124px;
  font-family: "viga";
  text-transform: uppercase;
  font-size: 2rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  box-sizing: border-box;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .c-btnChevron {
    padding: 23px 96px;
  }
}
.c-btnChevron:hover {
  color: #fff;
  opacity: 1;
}
.c-btnChevron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #222;
  z-index: 1;
  transition: width 0.2s;
}
.c-btnChevron:hover::before {
  width: 100%;
}
.c-btnChevron::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  position: absolute;
  right: 20px;
  z-index: 2;
}

.c-btnText {
  position: relative;
  z-index: 2;
}

.c-btnChevron-text {
  position: relative;
  z-index: 2;
}

.c-titleWrap {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.c-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 5.2rem;
  font-weight: bold;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .c-title {
    font-size: 3.2rem;
    left: 0;
    transform: translate(0, -50%);
  }
}

.c-title span {
  border-bottom: 1px solid #222;
}

.c-subTitle {
  display: block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13.6rem;
  text-transform: uppercase;
  color: rgba(151, 151, 151, 0.1);
}
@media screen and (max-width: 768px) {
  .c-subTitle {
    font-size: 8rem;
  }
}

.c-sectionRead {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .c-sectionRead {
    margin-top: 19px;
  }
}

.c-pageSectionTitle {
  font-size: 3.2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .c-pageSectionTitle {
    font-size: 2rem;
  }
}

.c-pageSectionTitle--center {
  text-align: center;
}

.c-arrowWrap {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.c-arrow {
  display: inline-block;
  padding: 21px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .c-arrow {
    padding: 13px;
  }
}
.c-arrow:hover {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.c-arrow--black {
  color: #fff;
  background-color: #222;
}

.c-memberList {
  display: flex;
  gap: 43px;
}
@media screen and (max-width: 768px) {
  .c-memberList {
    gap: 23px;
  }
}

.c-memberList__item {
  position: relative;
}

.c-memberList__item img {
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .c-memberList__item img {
    width: 246px;
  }
}

.c-memberList__staffInfo {
  position: absolute;
  left: 0;
  top: 331px;
}
@media screen and (max-width: 768px) {
  .c-memberList__staffInfo {
    top: 261px;
  }
}

.c-memberList__msg {
  display: inline-block;
  margin-bottom: 6px;
  padding: 5px 7px;
  font-size: 20px;
  line-height: 1;
  background-color: #AFA86F;
}
@media screen and (max-width: 768px) {
  .c-memberList__msg {
    padding: 7px;
    font-size: 16px;
  }
}

.c-memberList__carrerWrap {
  display: flex;
  gap: 9px;
  font-weight: bold;
  margin-top: calc(1em - 6px);
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .c-memberList__carrerWrap {
    margin-bottom: 14px;
  }
}

.c-memberList__carrerWrap > p {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .c-memberList__carrerWrap > p {
    font-size: 12px;
  }
}

.c-memberList__name {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .c-memberList__name {
    font-size: 20px;
  }
}

.c-cardList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 52px;
  row-gap: 23px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 61px;
}

.c-card {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  width: 46%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 768px) {
  .c-card {
    width: 100%;
  }
}
.c-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  opacity: 1;
}

.c-card__link {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.c-card__link:hover {
  opacity: 1;
}

.c-card__img {
  width: 156px;
  height: 182px;
}
@media screen and (max-width: 768px) {
  .c-card__img {
    width: 121px;
    height: 121px;
  }
}

.c-card__img img {
  width: 156px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media screen and (max-width: 768px) {
  .c-card__img img {
    width: 100%;
  }
}

.c-card__body {
  position: relative;
  padding: 20px 23px;
}
@media screen and (max-width: 768px) {
  .c-card__body {
    flex: 1;
    padding: 8px 7px 5px 18px;
  }
}

.c-card__category {
  font-size: 1.2rem;
}

.c-card__title {
  margin-top: 23px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .c-card__title {
    font-size: 1.4rem;
  }
}

.c-card__date {
  position: absolute;
  left: 23px;
  bottom: 20px;
  margin-top: auto;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .c-card__date {
    left: 18px;
    bottom: 5px;
  }
}

.c-pager {
  margin: 0 auto;
}

.c-pager__list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.c-pager__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  font-size: 1.4rem;
  color: #222;
  background: #fff;
  border: 1px solid #222;
  border-radius: 50%;
}

.c-pager__item.active {
  color: #fff;
  background-color: #222;
}

.c-pageHead__title {
  margin-bottom: 113px;
}
@media screen and (max-width: 768px) {
  .c-pageHead__title {
    margin-bottom: 24px;
  }
}

.c-pageHead__list {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .c-pageHead__list {
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }
}

.c-pageHead__link {
  width: 294px;
  line-height: 2;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #FAF7F1;
  border: 1px solid #222;
  border-radius: 21px;
}
@media screen and (max-width: 768px) {
  .c-pageHead__link {
    width: 100%;
  }
}

.c-pageHead__link > i {
  padding-left: 20px;
}

.c-defList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: -30px;
}

.c-defList__term {
  width: 23.5%;
  padding: 36px 0;
  border-bottom: 1px dotted #222;
}
@media screen and (max-width: 768px) {
  .c-defList__term {
    width: 30%;
  }
}

.c-defList__desc {
  width: 76%;
  margin-left: 1px;
  padding: 36px 0;
  border-bottom: 1px dotted #222;
}
@media screen and (max-width: 768px) {
  .c-defList__desc {
    width: 69.5%;
  }
}

.c-defList__descItem {
  line-height: 1.5;
}

/* reset
============================= */
h1, h2, h3, h4, h5, h6, p, dl, dd, ul, li {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

/* fontSize */
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", meiryo, "Noto Serif JP", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  color: #222;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

a:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.ly-toppageContentWrap {
  max-width: 956px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .ly-toppageContentWrap {
    padding: 0 17px;
  }
}

.ly-pageContentWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 22px;
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  .ly-pageContentWrap {
    min-width: 100%;
    padding: 0 16px;
  }
}

.ly-contentHeight {
  padding-top: 146px;
  padding-bottom: 139px;
}
@media screen and (max-width: 768px) {
  .ly-contentHeight {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* header
============================= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 30px 0;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 0 12px;
  }
}

.header__siteLogo {
  width: 251px;
  height: 66px;
}
@media screen and (max-width: 768px) {
  .header__siteLogo {
    width: 151px;
  }
}

.header__siteLogo--black {
  opacity: 0;
}

.header__siteLogo--childPage {
  opacity: 1;
}

.header__btnMenuArea {
  display: flex;
  justify-content: center;
}

.header__btnWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .header__btnWrapper {
    display: none;
  }
}

.header__menu {
  width: 52px;
  font-family: viga;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .header__menu {
    width: 32px;
    font-size: 10px;
  }
}
.header__menu:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.header__menu--childPage {
  color: #222;
}

.header__menu span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 15px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .header__menu span {
    margin-bottom: 9px;
  }
}
.header__menu span:last-of-type {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .header__menu span:last-of-type {
    margin-bottom: 6px;
  }
}

.header__menu--childPage span {
  background-color: #222;
}

/* panel active */
#header.panelActive .header__wrapper {
  position: relative;
  z-index: 100;
}
#header.panelActive .header__siteLogo--white {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}
#header.panelActive .header__siteLogo--black {
  transform: translateX(-100%);
  opacity: 1;
  transition: opacity 1s ease;
}
#header.panelActive .header__menu {
  color: #222;
  transition: color 1s ease;
}
#header.panelActive .header__menu span {
  background-color: #222;
  transition: transform 0.3s ease;
}
#header.panelActive .header__menu span:nth-of-type(1) {
  transform: rotate(45deg) translate(12px, 12px);
}
@media screen and (max-width: 768px) {
  #header.panelActive .header__menu span:nth-of-type(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
}
#header.panelActive .header__menu span:nth-of-type(2) {
  opacity: 0;
}
#header.panelActive .header__menu span:nth-of-type(3) {
  transform: rotate(-45deg) translate(12px, -12px);
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #header.panelActive .header__menu span:nth-of-type(3) {
    transform: rotate(-45deg) translate(8px, -8px);
    margin-bottom: 9px;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  animation: slideDown 0.3s ease-in-out;
  z-index: 100;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.header--sticky .header__wrapper {
  padding: 26px 30px;
}
@media screen and (max-width: 768px) {
  .header--sticky .header__wrapper {
    padding: 0 12px;
  }
}

.header--sticky .header__siteLogo--white {
  display: none;
}

.header--sticky .header__siteLogo--black {
  opacity: 1;
}

.header--sticky .header__menu {
  color: #222;
}

.header--sticky .header__menu span {
  background-color: #222;
}

/* footer
============================= */
.footer {
  max-width: 1312px;
  margin: 0 auto;
  padding: 198px 34px 24px;
  background-color: #FAF7F1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 169px;
    padding-bottom: 24px;
    background-color: #fff;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 61px;
  width: 61.5%;
}
@media screen and (max-width: 768px) {
  .footer__rightWrapper {
    width: 100%;
    gap: 55px;
    margin-bottom: 29px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 25px;
  padding-right: 9px;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 0;
    text-align: center;
  }
}

.footer__navLink {
  font-weight: bold;
}

.footer__snsList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 768px) {
  .footer__snsList {
    justify-content: center;
  }
}

.footer__snsLogo {
  display: inline-block;
  font-size: 2.4rem;
  color: #484848;
}

.footer__leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__leftWrapper {
    align-items: center;
    gap: 44px;
  }
}

.footer__sitelogo {
  width: 251px;
  height: auto;
}

.footer__copyLight {
  font-family: "Viga";
  font-size: 1.2rem;
  color: #999;
}

/* menu
============================= */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAF7F1;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.menu.panelActive {
  transform: translateX(0);
}

.menu__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9.1%;
  display: flex;
  align-items: center;
  gap: 63px;
}
@media screen and (max-width: 768px) {
  .menu__wrapper {
    top: 91px;
    right: 0;
    transform: translateY(0);
    width: 100%;
    padding: 0 12px;
  }
}

.menu__logo {
  width: 251px;
}
@media screen and (max-width: 768px) {
  .menu__logo {
    display: none;
  }
}

.menu img {
  width: 100%;
  height: auto;
}

.menu__line {
  position: relative;
  width: 1px;
  height: 410px;
}
.menu__line::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #AFA86F;
}
@media screen and (max-width: 768px) {
  .menu__line {
    display: none;
  }
}

.menu__navBtnWrapper {
  max-height: 100%;
}
@media screen and (max-width: 768px) {
  .menu__navBtnWrapper {
    width: 100%;
  }
}

.menu__navList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;
  max-height: 316px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .menu__navList {
    flex-wrap: nowrap;
    max-height: 100%;
    column-gap: 53px;
  }
}

.menu__navItem {
  width: 248px;
  padding: 23px 0;
  border-top: 1px solid #AFA86F;
}
@media screen and (max-width: 768px) {
  .menu__navItem {
    width: 100%;
  }
}
.menu__navItem:nth-of-type(3n) {
  border-bottom: 1px solid #AFA86F;
}
@media screen and (max-width: 768px) {
  .menu__navItem {
    padding: 13px 0;
  }
  .menu__navItem:nth-of-type(3) {
    border-bottom: none;
  }
}

.menu__navLink {
  display: block;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .menu__navLink {
    font-size: 1.2rem;
  }
}

.menu__navLink span {
  display: block;
  margin-bottom: 10px;
  font-family: "Viga";
  font-size: 3.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .menu__navLink span {
    font-size: 1.8rem;
  }
}

.menu__btnWrap {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .menu__btnWrap {
    flex-direction: column;
    gap: 13px;
  }
}

.menu__btn {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .menu__btn {
    width: 70.6%;
  }
}

.menu__btnLink {
  display: block;
  padding: 14px 0;
  text-align: center;
  color: #fff;
  background-color: #222;
}

.menu__btnLink--primary {
  background-color: #AFA86F;
}

/* pageVisual
============================= */
.pageVisual {
  width: 100%;
  height: 339px;
  margin-top: 118px;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .pageVisual {
    height: 180px;
    margin-top: 66px;
  }
}

.pageVisual__width {
  position: relative;
}

.pageVisual__pageTitleWrap {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (max-width: 768px) {
  .pageVisual__pageTitleWrap {
    padding-top: 24px;
    gap: 12px;
  }
}

.pageVisual__pageTitle {
  display: inline-block;
  width: fit-content;
  padding: 3px 10px;
  font-family: Viga;
  font-size: 6.4rem;
  text-transform: uppercase;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .pageVisual__pageTitle {
    font-size: 2.4rem;
  }
}

.pageVisual__pageSubTitle {
  display: inline-block;
  width: fit-content;
  padding: 3px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .pageVisual__pageSubTitle {
    font-size: 1.2rem;
  }
}

.pageVisual__pageRead {
  display: inline-block;
  width: fit-content;
  padding: 7px 10px;
  font-weight: bold;
  color: #988C2C;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .pageVisual__pageRead {
    font-size: 0.7rem;
  }
}

/* breadcrumb
============================= */
.breadcrumb {
  width: 100%;
  background-color: #f0f0f0;
}

.breadcrumb__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .breadcrumb__wrapper {
    padding: 12px 16px;
  }
}

.breadcrumb__link {
  font-size: 14px;
  text-transform: uppercase;
}

/* toppage > firstView
============================= */
.firstView {
  width: 100%;
  height: 824px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .firstView {
    height: 100vh;
  }
}

.firstView__siteTitle {
  position: absolute;
  top: 34.8%;
  left: 4.8%;
  font-family: "Viga";
  font-size: 9.6rem;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .firstView__siteTitle {
    top: 62.1%;
    left: 12px;
    font-size: min(4.8rem, 60px);
  }
}

.firstView__subTitle {
  position: absolute;
  top: 73%;
  left: 0;
  padding: 17px 4.8%;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(-60deg, transparent 30px, #222 0) bottom left;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .firstView__subTitle {
    top: 82.2%;
    font-size: min(1.2rem, 20px);
    padding: 9px 24px 9px 12px;
    background: linear-gradient(-60deg, transparent 20px, #222 0) bottom right;
  }
}

.firstView__firstViewImg {
  width: 100vw;
  height: 824px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 768px) {
  .firstView__firstViewImg {
    height: 100vh;
    object-position: 65%;
  }
}

@media screen and (max-width: 768px) {
  .splide__slide:nth-of-type(2) .firstView__firstViewImg {
    object-position: 50%;
  }
}

.firstView__news {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 38px;
  display: flex;
  align-items: center;
  width: 87.7%;
  background-color: #222;
  border: 1px solid #222;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .firstView__news {
    bottom: 10px;
    width: calc(100% - 24px);
    line-height: 1.2;
  }
}

.firstView__newsHead {
  width: 14.7%;
  font-family: "Viga";
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: #222;
  border-radius: 50px 0 0 50px;
}
@media screen and (max-width: 768px) {
  .firstView__newsHead {
    padding: 0 12px; /*19px*/
    font-size: 1rem;
    height: 100%;
  }
}
@media (max-width: 565px) {
  .firstView__newsHead {
    padding: 0 12px; /*32px*/
  }
}

.firstView__newsBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 26px 23px 7%;
  border-radius: 0 50px 50px 0;
  background-color: #fff;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .firstView__newsBody {
    padding: 10px;
  }
}

.firstView__newsTitle {
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .firstView__newsTitle {
    max-height: 3em;
    font-size: min(1.2rem, 18px);
    line-height: 1.7;
    overflow: hidden;
  }
}

.firstView__newsMore {
  width: 25%;
  font-family: "Viga";
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: right;
}
.firstView__newsMore::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  padding-left: 6px;
}
@media screen and (max-width: 768px) {
  .firstView__newsMore {
    display: none;
  }
}

/* toppage > intro -- slick & message
============================= */
/* swiper--infiniteLoop*/
.swiperArea {
  position: relative;
}

.swiperContainer {
  position: relative;
}

.swiperArea .swiper {
  display: flex;
  margin: 100px auto 0;
  overflow: hidden;
  width: auto;
}
@media screen and (max-width: 768px) {
  .swiperArea .swiper {
    margin: 64px auto 79px;
  }
}

.swiperArea .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiperArea .swiper-slide {
  max-width: 504px;
  transition: none;
}
@media screen and (max-width: 768px) {
  .swiperArea .swiper-slide {
    max-width: 271px;
  }
}

.swiperArea .swiper__catchCopy {
  display: block;
}
@media screen and (max-width: 768px) {
  .swiperArea .swiper__catchCopy {
    display: none;
  }
}

.swiperArea .swiper__catchCopy--sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .swiperArea .swiper__catchCopy--sp {
    display: block;
  }
}

.swiperArea .swiper-slide img {
  width: 100%;
  height: auto;
}

.swiperArea__catchcopyWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .swiperArea__catchcopyWrapper {
    bottom: -57px;
    width: 100%;
  }
}

.swiperArea__catchcopy {
  margin-bottom: 7px;
  padding: 7px 11px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.45;
  color: #222;
  background-color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .swiperArea__catchcopy {
    margin: 0 auto 15px;
    font-size: clamp(20px, 6.25vw, 24px);
    width: fit-content;
  }
}

/* message */
.msg__readWrapper {
  margin-top: 100px;
  background-image: url(../img/toppage/map01.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .msg__readWrapper {
    background-position: top;
    background-size: contain;
  }
}

.msg__read {
  margin-bottom: 52px;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .msg__read {
    margin-bottom: 39px;
    font-size: clamp(15px, 4.7vw, 18px);
    line-height: 2.5;
  }
}

.msg__btnWrap {
  width: 100%;
  text-align: center;
}

/* member
============================= */
.member__container {
  margin-top: 121px;
  padding-bottom: 63px;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .member__container {
    padding-bottom: 72px;
  }
}

.toppage .c-memberList__item:nth-child(even) {
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .toppage .c-memberList__item:nth-child(even) {
    margin-top: 25px;
  }
}

/* splide__memberList */
.splide__memberList {
  margin-top: 52px;
}

.splide__memberList .splide__track {
  overflow: visible;
  padding-bottom: 170px;
}
@media screen and (max-width: 768px) {
  .splide__memberList .splide__track {
    overflow: hidden;
    padding-bottom: 141px;
  }
}

.splide__memberList .splide__arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 11px;
}
@media screen and (max-width: 768px) {
  .splide__memberList .splide__arrows {
    display: none;
  }
}

.splide__memberList .splide__arrows svg {
  display: none;
}

.splide__memberList .splide__arrow::before {
  display: inline-block;
  margin-right: 20px;
  width: 58px;
  height: 58px;
  border: 1px solid #222;
  border-radius: 50%;
}

.splide__memberList .splide__arrow--prev::before {
  font: var(--fa-font-solid);
  content: "\f060";
  line-height: 58px;
  color: #222;
}

.splide__memberList .splide__arrow--next::before {
  font: var(--fa-font-solid);
  content: "\f061";
  line-height: 58px;
  color: #222;
}

.splide__memberList .splide__arrow:hover::before {
  color: #fff;
  background-color: #222;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.splide__memberList .splide__arrow--prev:hover {
  transform: translateX(-10px);
  transition: all 0.2s ease;
}

.splide__memberList .splide__arrow--next:hover {
  transform: translateX(10px);
  transition: all 0.2s ease;
}

/* benefits
============================= */
.benefits {
  margin-bottom: 107px;
}

.benefits__wrapper {
  overflow: visible;
}

.benefits__titleWrap {
  margin: 0 auto;
}

.benefits__title {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__read {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .benefits__read {
    text-align: left;
  }
}

.benefits__itemWrap {
  display: flex;
  gap: 94px;
  margin-top: 114px;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .benefits__itemWrap {
    margin-top: 51px;
    flex-direction: column;
  }
}

.benefits__item {
  position: relative;
  max-width: 430px;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    width: 100%;
  }
}

.benefits__link {
  display: block;
  width: 100%;
}
.benefits__link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  opacity: 1;
}
.benefits__link:hover .benefits__arrow {
  transform: translateX(30px);
  transition: transform 0.3s ease-in-out;
}

.benefits__itemImgBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 430px;
  background-color: #FAF7F1;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .benefits__itemImgBox {
    width: 251px;
    height: 251px;
    margin: 0 auto;
  }
}

.benefits__itemImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .benefits__itemImg {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .benefits__itemImg--people img {
    width: 63%;
  }
}

@media screen and (max-width: 768px) {
  .benefits__itemImg--house img {
    width: 80.5%;
  }
}

.benefits__itemTitle {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: -51px;
  padding: 5px 7px;
  font-size: 3.2rem;
  font-weight: bold;
  background-color: #AFA86F;
}
@media screen and (max-width: 768px) {
  .benefits__itemTitle {
    margin-top: -15px;
    font-size: 24px;
  }
}

.benefits__itemSubTitle {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: "Viga";
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .benefits__itemSubTitle {
    font-size: 1.4rem;
    right: 13px;
  }
}

.benefits__arrow {
  position: absolute;
  right: 20px;
  bottom: 66px;
}
@media screen and (max-width: 768px) {
  .benefits__arrow {
    right: 13px;
    bottom: 32px;
  }
}

.benefits__itemDesc {
  width: 100%;
  margin-top: 27px;
  line-height: 1.5;
}

/* blog
============================= */
.blog {
  background-color: #FAF7F1;
}

.blog__wrapper {
  position: relative;
  padding-top: 45px;
  padding-bottom: 80px;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .blog__wrapper {
    padding-top: 54px;
    padding-bottom: 64px;
  }
}

.blog__more {
  position: absolute;
  right: 19px;
  top: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
@media screen and (max-width: 768px) {
  .blog__more {
    position: static;
    display: block;
    margin-top: 52px;
  }
}
.blog__more:hover {
  transform: translateX(20px);
  transition: transform 0.3s ease-in-out;
}
.blog__more:hover .c-arrow {
  background-color: #222;
  color: #fff;
}

.blog__more a {
  display: inline-block;
  margin-left: 13px;
  font-family: "Viga";
  border-bottom: 1px solid #222;
}

/* recruit
============================= */
.recruit {
  background-color: #FAF7F1;
}

.recruit__wrapper {
  padding-top: 45px;
  padding-bottom: 139px;
}
@media screen and (max-width: 768px) {
  .recruit__wrapper {
    padding-top: 2px;
    padding-bottom: 88px;
  }
}

.recruit__titleWrap {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .recruit__titleWrap {
    text-align: left;
  }
}

.recruit__read {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .recruit__read {
    text-align: left;
  }
}

.recruit__btnList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 21px;
  margin-top: 64px;
}
@media screen and (max-width: 768px) {
  .recruit__btnList {
    grid-template-columns: 1fr;
    column-gap: 19px;
    margin-top: 28px;
  }
}

.recruit__btn {
  width: calc(100% - 16px);
}
.recruit__btn:last-child {
  grid-column: 1/3 !important;
}
@media screen and (max-width: 768px) {
  .recruit__btn {
    width: 100%;
  }
  .recruit__btn:last-child {
    grid-column: 1/1 !important;
  }
}

.recruit__btnText {
  width: 100%;
  border: none;
  font-weight: bold;
  text-align: center;
  color: #222;
}

/* entry
============================= */
.entry {
  position: relative;
  width: 100%;
  height: 488px;
  background-image: url(../img/cta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .entry {
    height: 250px;
  }
}

.entry__msgBox {
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
  width: 66%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .entry__msgBox {
    width: calc(100% - 34px);
    padding-top: 24px;
    padding-bottom: 29px;
    transform: translate(-50%, 0);
  }
}

.entry__msgText {
  margin-bottom: 31px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .entry__msgText {
    padding: 0 24px;
    font-size: 1.4rem;
    line-height: 2.5;
  }
}

.entry__btn {
  display: inline-block;
  width: 58%;
  padding: 27px 0;
  background-color: #AFA86F;
  border: none;
}
@media screen and (max-width: 768px) {
  .entry__btn {
    padding: 20px 0;
  }
}
.entry__btn:hover {
  color: #AFA86F;
}
.entry__btn::before {
  background-color: #AFA86F;
}
.entry__btn:hover::before {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #AFA86F;
}

/* pageVisual-about
============================= */
.about .pageVisual {
  background-image: url(../img/pageVisual/about-fv.jpg);
  background-position: 0 50%;
}
@media screen and (max-width: 768px) {
  .about .pageVisual {
    background-size: 120%;
    background-position: 0 65%;
  }
}

/* belief
============================= */
.belief__wrapper {
  padding-top: 66px;
  padding-bottom: 62.5px;
}
@media screen and (max-width: 768px) {
  .belief__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.belief__listWrap {
  margin-top: 86px;
}
@media screen and (max-width: 768px) {
  .belief__listWrap {
    margin-top: 24px;
  }
}

.belief__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .belief__list {
    gap: 24px;
  }
}

.belief__item {
  width: 100%;
  padding: 30px 80px;
  background-color: #FAF7F1;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .belief__item {
    padding: 24px;
  }
}

.belief__itemTitle {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .belief__itemTitle {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.belief__itemDesc {
  margin-top: 35px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .belief__itemDesc {
    font-size: 1.4rem;
    margin-top: 16px;
  }
}

/* topMsg
============================= */
.topMsg__wrapper {
  padding-top: 62.5px;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .topMsg__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.topMsg__contentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  margin-top: 109px;
}
@media screen and (max-width: 768px) {
  .topMsg__contentWrap {
    flex-direction: column;
    margin-top: 24px;
  }
}

.topMsg__ceoPhoto {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .topMsg__ceoPhoto {
    width: 100%;
  }
}

.topMsg__ceoPhoto img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .topMsg__ceoPhoto img {
    max-width: 400px;
  }
}

.topMsg__msgArea {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .topMsg__msgArea {
    width: 100%;
  }
}

.topMsg__msgTitle {
  margin-top: 18px;
  margin-left: -80px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .topMsg__msgTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -7.5em;
    margin-right: 8px;
    font-size: 2.2rem;
    text-align: right;
  }
}

.topMsg__msgTitle span {
  display: inline-block;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .topMsg__msgTitle span {
    margin-top: 8px;
    background-color: #fff;
  }
}

.topMsg__msgWrap {
  margin-top: 44px;
}

.topMsg__msg {
  color: #000;
  line-height: 2;
}
.topMsg__msg:not(:last-of-type) {
  margin-top: 31px;
}

.topMsg__topSign {
  display: inline-block;
  margin-top: 22px;
}
@media screen and (max-width: 768px) {
  .topMsg__topSign {
    width: 128px;
  }
}

/* service
============================= */
.service__wrapper {
  padding-top: 55.5px;
  padding-bottom: 76.5px;
}
@media screen and (max-width: 768px) {
  .service__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.service__sectionRead {
  margin-top: 44px;
}
@media screen and (max-width: 768px) {
  .service__sectionRead {
    margin-top: 24px;
  }
}

.service__contentWrap {
  margin-top: 32px;
}

.service__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  width: calc(100% + 44px);
  padding: 50px 22px;
}
@media screen and (max-width: 768px) {
  .service__item {
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 0 64px 0;
  }
  .service__item:last-child {
    padding-bottom: 0;
  }
}
.service__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -22px;
  right: 22px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #AFA86F;
}
@media screen and (max-width: 768px) {
  .service__item:not(:first-child)::before {
    display: none;
  }
}

.service__picture {
  width: 100%;
}

.service__picture img {
  width: 100%;
  border-radius: 20px;
}

.service__textArea {
  width: 100%;
  padding-right: 22px;
}
@media screen and (max-width: 768px) {
  .service__textArea {
    padding-right: 0;
  }
}

.service__itemTitle {
  font-size: 3.2rem;
  font-weight: bold;
  color: #988C2C;
}
@media screen and (max-width: 768px) {
  .service__itemTitle {
    font-size: 2.4rem;
  }
}

.service__itemSubtitle {
  margin-top: 40px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .service__itemSubtitle {
    margin-top: 8px;
    font-size: 2rem;
  }
}

.service__itemDesc {
  margin-top: 40px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .service__itemDesc {
    margin-top: 8px;
  }
}

/* companyInfo
============================= */
.companyInfo__wrapper {
  padding-top: 76.5px;
  padding-bottom: 69.5px;
}
@media screen and (max-width: 768px) {
  .companyInfo__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.companyInfo__dataListWrap {
  padding-top: 113px;
  padding-bottom: 69.5px;
}
@media screen and (max-width: 768px) {
  .companyInfo__dataListWrap {
    padding-top: 24px;
  }
}

.companyInfo__dataList {
  display: flex;
  padding: 36px 0;
  border-bottom: 1px dashed #222;
}
@media screen and (max-width: 768px) {
  .companyInfo__dataList {
    padding: 16px 0;
  }
}

.companyInfo__listTitle {
  width: 23.6%;
}
@media screen and (max-width: 768px) {
  .companyInfo__listTitle {
    width: 35%;
  }
}

.companyInfo__listData {
  flex: 1;
  line-height: 1.5;
}

.companyInfo__listData ul {
  padding-left: 1em;
}

.companyInfo__listData ul li {
  list-style: disc;
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.5;
}

/* pageVisual-about
============================= */
.staff .pageVisual {
  background-image: url(../img/pageVisual-blogIndex/staff-fv.jpg);
  background-position: 0 50%;
}
@media screen and (max-width: 768px) {
  .staff .pageVisual {
    background-size: 120%;
    background-position: 0 65%;
  }
}

/* memberList
============================= */
.staff .member {
  padding: 0 19px;
}
.staff .member__memberList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 43px;
  row-gap: 138px;
  margin-bottom: 80px;
}

/* pageVisual-blog
============================= */
.blogIndex .pageVisual {
  background-image: url(../img/pageVisual/blogIndex-fv.jpg);
  background-position: 0 50%;
}
@media screen and (max-width: 768px) {
  .blogIndex .pageVisual {
    background-size: 120%;
    background-position: 0 65%;
  }
}

/* blogList
============================= */
.blogList__container {
  padding-top: 69px;
  padding-bottom: 139px;
}
@media screen and (max-width: 768px) {
  .blogList__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.blogIndex .c-cardList {
  margin-bottom: 98px;
}
@media screen and (max-width: 768px) {
  .blogIndex .c-cardList {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.blogIndex .c-card {
  background-color: #FAF7F1;
}

/* pageVisual-benefits
============================= */
.benefitsPage .pageVisual {
  background-image: url(../img/pageVisual/benefits-fv.jpg);
  background-position: 0 50%;
}
@media screen and (max-width: 768px) {
  .benefitsPage .pageVisual {
    background-size: 120%;
    background-position: 0 65%;
  }
}

/* benefitVoice
============================= */
.benefitVoice {
  padding-top: 128px;
}

.benefitVoice__voiceList {
  display: flex;
  gap: 46px;
  margin-top: 23px;
}
@media screen and (max-width: 768px) {
  .benefitVoice__voiceList {
    flex-direction: column;
  }
}

.benefitVoice__career {
  font-weight: bold;
  color: #988C2C;
}

.benefitVoice__name {
  margin-top: 13px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #222;
}

.benefitVoice__voice {
  margin-top: 25px;
  line-height: 1.8;
  color: #222;
}

.benefitVoice__image {
  margin-top: 36px;
}

.benefitVoice__image img {
  width: 100%;
}

/* pageVisual-details
============================= */
.details .pageVisual {
  background-image: url(../img/pageVisual/details-fv.jpg);
  background-position: 0 45%;
}
@media screen and (max-width: 768px) {
  .details .pageVisual {
    background-size: 120%;
    background-position: 0 35%;
  }
}

/* jobList
============================= */
.jobList__title {
  margin-top: 88px;
}
@media screen and (max-width: 768px) {
  .jobList__title {
    margin-top: 64px;
  }
}

.jobList__defList {
  margin-top: 88px;
}
@media screen and (max-width: 768px) {
  .jobList__defList {
    margin-top: 24px;
  }
}

/* pageVisual-carrer
============================= */
.career .pageVisual {
  background-image: url(../img/pageVisual/career-fv.jpg);
  background-position: 0 50%;
}
@media screen and (max-width: 768px) {
  .career .pageVisual {
    background-size: 120%;
    background-position: 0 65%;
  }
}

/* careerHead
============================= */
.careerHead__wrapper {
  padding-bottom: 89px;
}

.careerHead__careerPathImage {
  margin-top: 48px;
  margin-bottom: 37px;
}

.careerHead__careerPathImage img {
  max-width: 100%;
}

/* careerProgram
============================= */
.careerProgram__item {
  margin-bottom: 37px;
}

.careerProgram__title {
  padding: 12px 0 12px 21px;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #AFA86F;
  border-radius: 10px;
}

.careerProgram__desc {
  margin-top: 50px;
  line-height: 1.8;
}/*# sourceMappingURL=style.css.map */