@use '../../util/index' as *;

/* faq-accordion
============================= */
.faq-accordion-container {
  padding-bottom: 139px;
  @include sp {
    padding-bottom: 80px;
  }
}

.faq-accordion__inner {
  margin-top: 88px;
}

.faq-accordion__defList {
  padding-left: 36px;
  padding-right: 36px;
  @include sp {
    padding-left: 1.5em;
    padding-right: 0;
  }
}

.faq-accordion__defList:first-child {
  margin-top: 113px;
}

.faq-accordion__defTerm {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.faq-accordion__defTerm::before {
  @include posCenterY;
  content: "q";
  left: -1em;
  font-family: 'Viga';
  font-size: 2.4rem;
  color: $subColor;
  text-transform: uppercase;
}

.faq-accordion__defTerm::after {
  @include posCenterY;
  content: "＋";
  right: 0;
  font-size: 2.4rem;
  color: $subColor;
  text-transform: uppercase;
  transition: transform .3s, rotate .3s;
}

.faq-accordion__defTerm.is-active::after {
  content: "ー";
  top: 0;
  transform: rotate(180deg);
}

.faq-accordion__defDesc {
  max-height: 0;
  padding-top: 36px;
  overflow: hidden;
  transition: max-height .3s ease;
}
