@use '../../util/index' as *;

/* belief
============================= */
.belief__wrapper {
  padding-top: 66px;
  padding-bottom: 62.5px;
  @include sp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.belief__listWrap {
  margin-top: 86px;
  @include sp {
    margin-top: 24px;
  }
}

.belief__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  @include sp {
    gap: 24px;
  }
}

.belief__item {
  width: 100%;
  padding: 30px 80px;
  background-color: $bgColor;
  border-radius: 10px;
  @include sp {
    padding: 24px;
  }
}

.belief__itemTitle {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 2rem;
  font-weight: bold;
  @include sp {
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.belief__itemTitleNumber {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 50%;
  @include sp {
    font-size: 1.4rem;
    width: 30px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.belief__itemDesc {
  margin-top: 21px;
  line-height: 1.5;
  @include sp {
    font-size: 1.4rem;
    margin-top: 16px;
  }
}