@use '../../util/index' as *;

/* belief
============================= */
.belief__wrapper {
  padding-top: 66px;
  padding-bottom: 62.5px;
  @include sp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.belief__listWrap {
  margin-top: 86px;
  @include sp {
    margin-top: 24px;
  }
}

.belief__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.belief__item {
  width: 100%;
  padding: 30px 80px;
  background-color: $bgColor;
  border-radius: 10px;
  @include sp {
    padding: 24px;
  }
}

.belief__itemTitleNumber {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 21px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 50%;
  box-sizing: border-box;
  @include sp {
    position: absolute;
    left: 2em;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    line-height: 28px;
  }
}

.belief__itemTitle {
  font-size: 2rem;
  font-weight: bold;
  @include sp {
    padding-left: 2em;
    line-height: 1.2;
  }
}

.belief__itemDesc {
  margin-top: 35px;
  line-height: 1.5;
  @include sp {
    margin-top: 16px;
  }
}