@use '../../util/index' as *;

/* belief
============================= */
.belief__wrapper {
  padding-top: 66px;
  padding-bottom: 62.5px;
}

.belief__listWrap {
  margin-top: 86px;
}

.belief__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.belief__item {
  width: 100%;
  padding: 30px 80px;
  background-color: $bgColor;
  border-radius: 10px;
}

.belief__itemTitleNumber {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 21px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 50%;
  box-sizing: border-box;
}

.belief__itemTitle {
  font-size: 2rem;
  font-weight: bold;
}

.belief__itemDesc {
  margin-top: 35px;
  line-height: 1.5;
}