@use '../../util/index' as *;

/* companyInfo
============================= */
.companyInfo__wrapper {
  padding-top: 76.5px;
  padding-bottom: 139px;
  @include sp {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.companyInfo__dataListWrap {
  padding-top: 113px;
  @include sp {
    padding-top: 24px;
  }
}

.companyInfo__dataList {
  display: flex;
  padding: 36px 0;
  border-bottom: 1px dashed $black;
  @include sp {
    padding: 16px 0;
  }
}

.companyInfo__listTitle {
  width: 23.6%;
  line-height: 1.5;
  @include sp {
    width: 35%;
  }
}

.companyInfo__listData {
  flex: 1;
  line-height: 1.5;
}

.companyInfo__listData ul {
  padding-left: 1em;
}
.companyInfo__listData ul li {
  list-style: disc;
  line-height: 1.5;
}