@use '../../util/index' as *;

/* pageVisual-about
============================= */
.aboutPage .pageVisual {
  background-image: url(../img/pageVisual/about-fv.jpg);
  background-position: 0 50%;
  @include sp {
    background-size: 120%;
    background-position: 0 65%;
  }
}


