@use '../../util/index' as *;

/* pageVisual-about
============================= */
.about .pageVisual {
  background-image: url(../img/about/about-fv.jpg);
  background-position: 0 50%;
  @include sp {
    background-size: 120%;
  }
}


