@use '../../util/index' as *;

/* topMsg
============================= */
.topMsg__wrapper {
  padding-top: 62.5px;
  padding-bottom: 24px;
  @include sp {
    padding-top: 24px;
  }
}

.topMsg__contentWrap {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  margin-top: 109px;
  @include sp {
    flex-direction: column;
    margin-top: 24px;
  }
}

.topMsg__ceoPhoto {
  @include sp {
    width: 100%;
  }
}

.topMsg__ceoPhoto img {
  @include sp {
    max-width: 100%;
  }
}

.topMsg__msgArea {
  width: 100%;
}

.topMsg__msgTitle {
  margin-top: 18px;
  margin-left: -80px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
  @include sp {
    margin-top: -7.5em;
    margin-right: 8px;
    font-size: 2.2rem;
    text-align: right;
  }
}
.topMsg__msgTitle span {
  display: inline-block;
  @include sp {
    margin-top: 8px;
    background-color: #fff;
  }
}

.topMsg__msgWrap {
  margin-top: 44px;
}

.topMsg__msg {
  color: #000;
  line-height: 2;

  &:not(:last-of-type) {
    margin-top: 31px;
  }
}

.topMsg__topSign {
  display: inline-block;
  margin-top: 22px;
  @include sp {
    width: 128px;
  }
}