@use '../../util/index' as *;

/* benefits
============================= */
.benefits {
  margin-bottom: 107px;
}

.benefits__wrapper {
  overflow: visible;
}

.benefits__titleWrap {
  margin: 0 auto;
} 

.benefits__title {
  width: 100%;
  text-align: center;
  @include sp {
    text-align: left;
  }
}

.benefits__read {
  text-align: center;
  @include sp {
    text-align: left;
  }
}

.benefits__itemWrap {
  display: flex;
  gap: 94px;
  margin-top: 114px;
  overflow: visible;
  @include sp {
    margin-top: 51px;
    flex-direction: column;
  }
}

.benefits__item {
  position: relative;
  max-width: 430px;

  @include sp {
    width: 100%;
  }
}
.benefits__link {
  display: block;
  width: 100%;

  &:hover {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
  }

  &:hover .benefits__arrow {
    transform: translateX(30px);
    transition: transform .3s ease-in-out;
  }
}

.benefits__itemImgBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 430px;
  background-color: $bgColor;
  border-radius: 50%;
  cursor: pointer;
  @include sp {
    width: 251px;
    height: 251px;
    margin: 0 auto;
  }
}

.benefits__itemImg {
  @include posCenter;
  @include sp {
    width: 100%;
    text-align: center;
  }
}

.benefits__itemImg--people img {
  @include sp {
  width: 63%;
  }
}

.benefits__itemImg--house img {
  @include sp {
    width: 80.5%;
  }
}
  
.benefits__itemTitle {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: -51px;
  padding: 5px 7px;
  font-size: 3.2rem;
  font-weight: bold;
  background-color: $subColor;

  @include sp {
    margin-top: -15px;
    font-size: 24px;
  }
}

.benefits__itemSubTitle {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: 'Viga';
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  writing-mode: vertical-rl;
  @include sp {
    font-size: 1.4rem;
    right: 13px;
  }
}

.benefits__arrow {
  position: absolute;
  right: 20px;
  bottom: 66px;
  @include sp {
    right: 13px;
    bottom: 32px;
  }
}

.benefits__itemDesc {
  width: 100%;
  margin-top: 27px;
  line-height: 1.5;
}