@use '../../util/index' as *;

/* entry
============================= */
.entry {
  position: relative;
  width: 100%;
  height: 488px;
  background-image: url(../img/cta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include sp {
    height: 250px;
  }
}

.entry__msgBox {
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
  width: 66%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  
  @include sp {
    width: calc(100% - 34px);
    padding-top: 24px;
    padding-bottom: 29px;
    transform: translate(-50%, 0);
  }
}

.entry__msgText {
  margin-bottom: 31px;
  font-weight: bold;
  line-height: 1.5;
  
  @include sp {
    padding: 24px 24px 0 24px;
    font-size: 1.4rem;
    line-height: 2.5;
  }
}

.entry__btn {
  display: inline-block;
  width: 58%;
  padding: 27px 0;
  background-color: $subColor;
  border: none;
  
  @include sp {
    padding: 20px 0;
  }
}