@use '../../util/index' as *;

/* toppage > firstView
============================= */
.firstView {
  width: 100%;
  height: 824px;
  position: relative;

  @include sp {
    height: 100vh;
  }
}

.firstView__siteTitle {
  position: absolute;
  top: 34.8%;
  left: 4.8%;
  font-family: 'Viga';
  font-size: 9.6rem;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
  @include sp {
    top: 62.1%;
    left: 12px;
    font-size: min(4.8rem, 60px);
  }
}

.firstView__subTitle {
  position: absolute;
  top: 73%;
  left: 0;
  padding: 17px 4.8%;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(-60deg, transparent 30px, $black 0) bottom right;

  @include sp {
    top: 82.2%;
    font-size: min(1.2rem, 20px);
    padding: 9px 24px 9px 12px;
    background: linear-gradient(-60deg, transparent 20px, $black 0) bottom right;
  }
}

.firstView__firstViewImg {
  width: 100vw;
  height: 824px;
  object-fit: cover;
  object-position: center;

  @include sp {
    height: 100vh;
    object-position: 65%;
  }
}

.splide__slide:nth-of-type(2) .firstView__firstViewImg {
  @include sp {
    object-position: 50%;
  }
}

.firstView__news {
  @include posCenterX;
  bottom: 38px;
  display: flex;
  align-items: center;
  width: 87.7%;
  background-color: $black;
  border: 1px solid $black;
  border-radius: 50px;

  @include sp {
    bottom: 10px;
    width: calc(100% - 24px);
    line-height: 1.2;
  }
}
.firstView__newsHead {
  width: 14.7%;
  font-family: 'Viga';
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: $black;
  border-radius: 50px 0 0 50px;
  
  @include sp {
    padding: 0 12px; /*19px*/
    font-size: 1rem;
    height: 100%;
  }
  
  @media (max-width: 565px) {
    padding: 0 12px; /*32px*/
  }
}

.firstView__newsBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 26px 23px 7%;
  border-radius: 0 50px 50px 0;
  background-color: #fff;
  flex:  1;

  @include sp {
    padding: 10px;
  }
}

.firstView__newsTitle {
  font-size: 1.6rem;
  @include sp {
    max-height: 3em;
    font-size: min(1.2rem, 18px);
    line-height: 1.7;
    overflow: hidden;
  }
}
.firstView__newsMore {
  width: 25%;
  font-family: 'Viga';
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: right;

  &::after {
    font-family: "Font Awesome 5 Free";
    content: '\f105';
    font-weight: 900;
    padding-left: 6px;
  }

  @include sp {
    display: none;
  }
}

