@use '../../util/index' as *;

/* toppage > intro -- slick & message
============================= */
.slickArea {
  position: relative;
}

.slickArea__slickList {
  display: flex;
  gap: 34px;
  margin: 100px auto 0;
  overflow: hidden;

  @include sp {
    gap: 16px;
    margin-top: 41px;
    text-align: center;
  }
}

.slickArea__slickItem:nth-child(even) {
  margin-top: 36px;

  @include sp {
    margin-top: 27px;
  }
}

.slickArea__slickImg {
  width: 504px;

  @include sp {
    width: 271px;
  }
}

.slickArea__catchcopyWrapper {
  @include posCenterX;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include sp {
    top: 162px;
    width: 100%;
  }
}

.slickArea__catchcopy {
  margin-bottom: 7px;
  padding: 7px 11px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.45;
  color: $black;
  background-color: #fff;
  text-align: center;

  @include sp {
    margin: 0 auto 15px;
    font-size: clamp(20px,6.25vw, 24px);
    width: fit-content;
  }
}

/* message */
.msg__readWrapper {
  margin-top: 100px;
  background-image: url(../img/map01.png);
  background-position: center;
  background-repeat: no-repeat;

  @include sp {
    background-position: top;
    background-size: contain;
  }
}

.msg__read {
  margin-bottom: 52px;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  
  @include sp {
    margin-bottom: 39px;
    font-size: clamp(15px, 4.7vw, 18px);
    line-height: 2.5;
  }
}

.msg__btnWrap {
  width: 100%;
  text-align: center;
}
