@use '../../util/index' as *;

/* member
============================= */
.member__container {
  position: relative;
  margin-top: 121px;
  padding-bottom: 63px;

  @include sp {
    padding-bottom: 72px;
  }
}

.member__memberList {
  margin-top: 52px;
}

.member__ArrowWrap {
  position: absolute;
  right: 0;
  bottom: 74px;

  @include sp {
    display: none;
  }
}