@use '../../util/index' as *;

/* recruit
============================= */
.recruit {
  background-color: $bgColor;
}
.recruit__wrapper {
  padding-top: 45px;
  padding-bottom: 139px;
  
  @include sp {
    padding-top: 2px;
    padding-bottom: 88px;
  }
}

.recruit__titleWrap {
  text-align: center;

  @include sp {
    text-align: left;
  }
}

.recruit__read {
  text-align: center;

  @include sp {
    text-align: left;
  }
}

.recruit__btnList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 21px;
  margin-top: 64px;
  
  @include sp {
    grid-template-columns: 1fr;
    column-gap: 19px;
    margin-top: 28px;
  }
}

.recruit__btn {
  width: calc(100% - 16px);

  &:last-child {
    grid-column: 1 / 3 !important;
  }

  @include sp {
    width: 100%;
    
    &:last-child {
      grid-column: 1 / 1 !important;
    }
  }
}

.recruit__btnText {
  width: 100%;
  border: none;
  font-weight: bold;
  text-align: center;
  color: $black;
}