@use '../../util/index' as *;

/* memberList
============================= */
.staff-list {

  .member {
    padding: 0 19px;
  }

  .member__memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 43px;
    row-gap: 138px;
    margin-bottom: 80px;
  }
}
