@use '../../util/index' as *;

/* memberList
============================= */
.staffList {

  .member {
    padding: 0 19px;
  }
  .member__inner {
    padding-top: 100px;
    padding-bottom: 139px;
    @include sp {
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }
  .member__memberList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 43px;
    row-gap: 138px;
    @include sp {
      row-gap: 48px;
    }
  }
}
