@use '../../util/index' as *;

/* pageVisual-about
============================= */
.staff-list .pageVisual {
  background-image: url(../img/pageVisual/staffList-fv.jpg);
  background-position: 0 50%;
  @include sp {
    background-size: 120%;
    background-position: 0 65%;
  }
}