//component
@use './variables' as *;
@use './mixin' as *;



//headerBtn
.c-headerBtn {
  display: inline-block;
  width: 126px;
  padding: 14px;
  text-align: center;
  color: #fff;
}
.c-headerBtn--basic {
  background-color: $black;
}
.c-headerBtn--primary {
  background-color: $subColor;
}
.c-headerBtn:hover {
  opacity: .6;
  transition: opacity .2s ease-in-out;
}



//btn with chevron
.c-btnChevron {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 30px 124px;
  font-family: 'viga';
  text-transform: uppercase;
  font-size: 2rem;
  color: $black;
  background-color: #fff;
  border: 1px solid $black;
  box-sizing: border-box;
  z-index: 2;
  @include sp {
    padding: 23px 96px;
  }

  &:hover {
    color: #fff;
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $black;
    z-index: 1;
    transition: width .2s 
  }

  &:hover::before {
    width: 100%;
  }

  &::after {
    font-family: "Font Awesome 5 Free";
    content: '\f105';
    font-weight: 900;
    position: absolute;
    right: 20px;
    z-index: 2;
  }
}

.c-btnText {
  position: relative;
  z-index: 2
}

.c-btnChevron-text {
  position: relative;
  z-index: 2;
}


//title
.c-titleWrap {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.c-title {
  @include posCenter;
  width: 100%;  
  font-size: 5.2rem;
  font-weight: bold;
  z-index: 1;
  @include sp {
    font-size: 3.2rem;
    left: 0;
    transform: translate(0, -50%);
  }
}

.c-title span {
  border-bottom: 1px solid $black; 
}

.c-subTitle {
  display: block;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13.6rem;
  text-transform: uppercase;
  color: rgba(151, 151, 151, .1);
  @include sp {
    font-size: 8rem;
  }
}

.c-sectionRead {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 1.5;
  @include sp {
    margin-top: 19px;
  }
}

//arrow
.c-arrowWrap {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.c-arrow {
  display: inline-block;
  padding: 21px;
  background-color: #fff;
  border: 1px solid $black;
  border-radius: 50%;
  @include sp {
    padding: 13px;
  }

  &:hover {
    background-color: $black;
    color: #fff;
    transition: all .3s ease-in-out;
  }
}

.c-arrow--black {
  color: #fff;
  background-color: $black;
}


//memberList
.c-memberList {
  display: flex;
  gap: 43px;
  margin-bottom: 80px;

  @include sp {
    gap: 23px;
    margin-bottom: 64px;
  }
}

.c-memberList__item {
  position: relative;

  &:nth-child(even) {
    margin-top: 36px;
    @include sp {
      margin-top: 25px;
    }
  }
}

.c-memberList__item img {
  display: inline-block;
  width: 100%;
  margin-bottom: 34px;
  @include sp {
    width: 246px;
  }
}

.c-memberList__msgWrap {
  position: absolute;
  left: 0;
  top: 331px;
  margin-bottom: 1em;
  @include sp {
    top: 261px;
  }
}

.c-memberList__msg {
  display: inline-block;
  margin-bottom: 6px;
  padding: 5px 7px;
  font-size: 20px;
  line-height: 1;
  background-color: $subColor;
  @include sp {
    padding: 7px;
    font-size: 16px;
  }
}

.c-memberList__carrerWrap {
  display: flex;
  gap: 9px;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 1em;
  @include sp {
    margin-bottom: 14px;
  }
}

.c-memberList__carrerWrap > p {
  font-weight: bold;
  @include sp {
    font-size: 12px;
  }
}

.c-memberList__name {
  font-size: 24px;
  font-weight: bold;
  @include sp {
    font-size: 20px;
  }
}

//card
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 52px;
  row-gap: 23px;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 61px;
}

.card__list {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  width: 47%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  @include sp {
    width: 100%;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
    opacity: 1;
  }
}

.card__link {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}


.card__img {
  width: 156px;
  height: 182px;
  @include sp {
    width: 121px;
    height: 121px;
  }
}

.card__img img {
  width: 156px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @include sp {
    width: 100%;
  }
}

.card__body {
  position: relative;
  padding: 20px 23px;
  @include sp {
    flex: 1;
    padding: 8px 7px 5px 18px;
  }
}

.card__category {
  font-size: 1.2rem;
}

.card__title {
  margin-top: 23px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
  @include sp {
    font-size: 1.4rem;
  }
}

.card__date {
  position: absolute;
  left: 23px;
  bottom: 20px;
  margin-top: auto;
  font-size: 1.2rem;
  @include sp {
    left: 18px;
    bottom: 5px;
  }
}


.c-pageSectionTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  @include sp {
    font-size: 2.4rem;
  }
}

.c-sectionRead {
  line-height: 1.5;
}