//mixin
@use './variables' as *;

//position
@mixin posCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hoveAmine {
  opacity: .6;
  transition: opacity .2s ease-in-out;
}

// mediaQuery
$sp: 768px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }


}