//mixin
@use './variables';

@mixin c-btn--s($bgColor:#222) {
  display: inline-block;
  width: 126px;
  padding: 14px;
  color: #fff;
  text-align: center;
  background-color: $bgColor;
}

@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// mediaQuery
$sp: 768px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }


}