//mixin
@use './variables' as *;

//position
@mixin posCenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// mediaQuery
$sp: 768px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }


}