@use '../../util/index' as *;

/* jobList
============================= */
.jobList__title {
  margin-top: 88px;
  @include sp {
    margin-top: 64px;
  }
}
.jobList__defList {
  margin-top: 88px;
  @include sp {
    margin-top: 24px;
  }
}
