@use '../../util/index' as *;

/* jobList
============================= */
.jobList__inner {
  margin-bottom: 139px;
}
.jobList__title {
  margin-top: 88px;
}
.jobList__defList {
  margin-top: 77px;
}
