@use '../../util/index' as *;

/* pageVisual-details
============================= */
.detailsPage .pageVisual {
  background-image: url(../img/pageVisual/details-fv.jpg);
  background-position: 0 45%;
  @include sp {
    background-size: 120%;
    background-position: 0 35%;
  }
}