@use '../../util/index' as *;

/* benefitItems
============================= */
.benefitItems__wrapper {
  padding-top: 72.5px;
  padding-bottom: 64px;
}
.benefitItems__title {
  margin-top: 72.5px;
}


