@use '../util/index' as *;

/* footer
============================= */
.footer {
  max-width: 1312px;
  margin: 0 auto 61px;
  padding-top: 198px;
  padding-bottom: 61px;
  background-color: $bgColor;
  @include sp {
    padding-top: 169px;
    padding-bottom: 24px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include sp {
    flex-direction: column;
  }
}

.footer__rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 61px;
  width: 61.5%;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 25px;
  padding-right: calc(31px - 22px);
}


.footer__navLink {
  font-weight: bold;
}

.footer__snsList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
.footer__snsLogo {
  display: inline-block;
  font-size: 2.4rem;
  color: #484848;
}

.footer__leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__siteLogo {
  width: 251px;
  height: auto;
}
.footer__copyLight {
  font-family: 'Viga';
  font-size: 1.2rem;
  color: #999;
}