@use '../util/index' as *;

/* footer
============================= */
.footer {
  max-width: 1312px;
  margin: 0 auto;
  padding: 198px 34px 24px;
  background-color: $bgColor;
  @include sp {
    padding-top: 169px;
    padding-bottom: 24px;
    background-color: #fff;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include sp {
    flex-direction: column;
  }
}

.footer__rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 61px;
  width: 61.5%;
  @include sp {
    width: 100%;
    gap: 55px;
    margin-bottom: 29px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 25px;
  padding-right: calc(31px - 22px);
  @include sp {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 0;
    text-align: center;
  }
}


.footer__navLink {
  font-weight: bold;
}

.footer__snsList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  @include sp {
    justify-content: center;

  }
}
.footer__snsLogo {
  display: inline-block;
  font-size: 2.4rem;
  color: #484848;
}

.footer__leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include sp {
    align-items: center;
    gap: 44px;
  }
}
.footer__sitelogo {
  width: 251px;
  height: auto;
}
.footer__copyLight {
  font-family: 'Viga';
  font-size: 1.2rem;
  color: #999;
}