@use '../util/index' as *;

//contentWidth -toppage-
.ly-toppageContentWrap {
  max-width: 956px;
  margin: 0 auto;
  overflow: hidden;
  
  @include sp {
    padding: 0 17px;
  }
}

//contentWidth -page-
.ly-pageContentWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 22px;

  @include sp {
    min-width: 100%;
    padding: 0 16px;
  }
}