@use '../util/index' as *;


.ly-headerPadding {
  padding-top: 118px;
  @include sp {
    padding-top: 66px;
  }
}

//contentWidth -toppage-
.ly-toppageContentWrap {
  max-width: 956px;
  margin: 0 auto;
  overflow: hidden;
  
  @include sp {
    padding: 0 17px;
  }
}

//contentWidth -page-
.ly-pageContentWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 19px;
  padding-left: 19px;

  @include sp {
    min-width: 100%;
    padding: 0 16px;
  }
}
