@use '../util/index' as *;

/* pageVisual
============================= */
.pageVisual {
  width: 100%;
  height: 339px;
  margin-top: 118px;
  background-size: cover;
  @include sp {
    height: 180px;
    margin-top: 66px;
  }
}

.pageVisual__width {
  position: relative;
}

.pageVisual__pageTitleWrap {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include sp  {
    padding-top: 24px;
    gap: 12px;
  }
}

.pageVisual__pageTitle {
  display: inline-block;
  width: fit-content;
  padding: 3px 10px;
  font-family: Viga;
  font-size: 6.4rem;
  text-transform: uppercase;
  background-color: #fff;
  @include sp {
    font-size: 4.2rem;
  }
}

.pageVisual__pageSubTitle {
  display: inline-block;
  width: fit-content;
  padding: 3px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #fff;
  @include sp {
    font-size: 2.2rem;
  }
}

.pageVisual__pageRead {
  display: inline-block;
  width: fit-content;
  padding: 7px 10px;
  font-weight: bold;
  color: $mainColor;
  background-color: #fff;
  @include sp {
    font-size: 1.2rem;
  }
}


/* breadcrumb
============================= */
.breadcrumb {
  width: 100%;
  background-color: #f0f0f0;
}
.breadcrumb__wrapper {
  display: flex;
  gap: 4px;
  padding: 20px 0;
  @include sp {
    padding: 12px 16px;
  }
}
.breadcrumb__link {
  font-size: 14px;
  text-transform: uppercase;
}