@use '../../util/index' as *;

/* careerHead
============================= */
.careerHead__wrapper {
  padding-bottom: 89px;
}
.careerHead__careerPathImage {
  margin-top: 48px;
  margin-bottom: 37px;
}

.careerHead__careerPathImage img {
  max-width: 100%;
}