@use '../../util/index' as *;

/* careerHead
============================= */
.careerHead__wrapper {
  padding-top: 146px;
  padding-bottom: 89px;
  @include sp {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
.careerHead__careerPathImage {
  margin-top: 48px;
  margin-bottom: 37px;
}

.careerHead__careerPathImage img {
  max-width: 100%;
}

.careerHead__caption {
  margin-top: 37px;
}