@use '../../util/index' as *;

/* pageVisual-carrer
============================= */
.carrer .pageVisual {
  background-image: url(../img/pageVisual/benefits-fv.jpg);
  background-position: 0 50%;
  @include sp {
    background-size: 120%;
    background-position: 0 65%;
  }
}
