@use '../../util/index' as *;

/* blogList
============================= */
.blogList__container {
  padding-top: 69px;
  padding-bottom: 139px;
  @include sp {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.blogIndexPage {

  .c-cardList {
    margin-bottom: 98px;
    @include sp {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  
  .c-card {
    background-color: $bgColor;
  }
}