@use '../../util/index' as *;

/* pageVisual-blog
============================= */
.blogIndexPage .pageVisual {
  background-image: url(../img/pageVisual/blogIndex-fv.jpg);
  background-position: 0 50%;
  @include sp {
    background-size: 120%;
    background-position: 0 65%;
  }
}